//TESTING VARIABLES:
$testimage1: "https://images.pexels.com/photos/1300510/pexels-photo-1300510.jpeg";
$testimage2: "https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg";
$testimage3: "https://images.pexels.com/photos/414781/pexels-photo-414781.jpeg";
$testimage4: "https://images.pexels.com/photos/275033/pexels-photo-275033.jpeg";
$testimage5: "https://images.pexels.com/photos/34521/space-shuttle-lift-off-liftoff-nasa.jpg";
$testimage6: "https://images.pexels.com/photos/21492/pexels-photo.jpg";
$testimage7: "https://images.pexels.com/photos/1274260/pexels-photo-1274260.jpeg";
$testimage8: "https://images.pexels.com/photos/18174/reflection-pad-gaming-gamepad.jpg";
$testimage9: "https://images.pexels.com/photos/11406/c12ee0f379643a278198b2086afd3b9c.jpg";
$testimage10: "https://images.pexels.com/photos/8395/lights-night-unsharp-blured.jpg";
$testimage11: "https://images.pexels.com/photos/700015/pexels-photo-700015.jpeg";
$testimage12: "https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg";
$testimage13: "https://images.pexels.com/photos/117729/pexels-photo-117729.jpeg";
$testimage14: "https://images.pexels.com/photos/825258/pexels-photo-825258.jpeg";
$testimage15: "https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg";
$testimage16: "https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg";
$testimage17: "https://images.pexels.com/photos/34407/pexels-photo.jpg";
$testimage18: "https://images.pexels.com/photos/1365795/pexels-photo-1365795.jpeg";
$testimage19: "https://images.pexels.com/photos/442587/pexels-photo-442587.jpeg";
$testimage20: "https://images.pexels.com/photos/1044989/pexels-photo-1044989.jpeg";


#slideshow #slide1 .imgplane {
//  background-image: url($testimage1);
}

#slideshow #slide2 .imgplane {
//  background-image: url($testimage2);
}

#slideshow #slide3 .imgplane {
//  background-image: url($testimage3);
}

#slideshow #slide4 .imgplane {
//  background-image: url($testimage1);
}

#slideshow #slide5 .imgplane {
//  background-image: url($testimage2);
}

#postbox .index_post:nth-child(1) .imgplane {
//    background-image: url($testimage3);
}

#postbox .index_post:nth-child(2) .imgplane {
//    background-image: url($testimage1);
}

#postbox .index_post:nth-child(3) .imgplane {
//    background-image: url($testimage2);
}

#postbox .index_post:nth-child(4) .imgplane {
//    background-image: url($testimage3);
}

#postbox .index_post:nth-child(5) .imgplane {
//    background-image: url($testimage1);
}

#postbox .index_post:nth-child(6) .imgplane {
//    background-image: url($testimage2);
}

#postbox .index_post:nth-child(7) .imgplane {
//    background-image: url($testimage3);
}

#postbox .index_post:nth-child(8) .imgplane {
//    background-image: url($testimage1);
}

#postbox .index_post:nth-child(9) .imgplane {
//    background-image: url($testimage2);
}

#postbox .index_post:nth-child(10) .imgplane {
//    background-image: url($testimage3);
}




#bgbox {
    background-image: url($testimage17);
}


.single_post .postinfo .tags .tag::after {
    content: ",";
}

.single_post .postinfo .tags .tag:last-child::after {
    content: none !important;
}
