//Imports:
//______________________________________________________________________________
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//Global Variables:
//______________________________________________________________________________
$core_colors_back: rgba(225,225,225,1);
$core_colors_main: rgba(0,0,0,1);
$core_colors_paint: rgba(255,0,0,1);
$core_colortest1: rgba(110,110,250,0.5);
$core_colortest2: rgba(110,250,110,0.5);
$core_colortest3: rgba(250,110,110,0.5);
$main_font: 'Montserrat', sans-serif;

//Mixins:
//______________________________________________________________________________
@mixin flpr {
	position: relative;
	float: left;
}

@mixin frpr {
	position: relative;
	float: right;
}

@mixin mpz {
	margin: 0;
	padding: 0;
}

@mixin fixedbg {
	background-image:url(img/optimized_walls/general/pexels-photo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@mixin bordertb {
	border-top: solid 2px transparentize($core_colors_main, 0.5);
	border-bottom: solid 1px transparentize($core_colors_main, 0.5);
}


//Main:
//______________________________________________________________________________
body {
	background-color: $core_colors_back;
	color: $core_colors_main;
	font-family: $main_font;
	@include fixedbg;
	min-height:100%;
  min-width:100%;
}

#core_fullbox {
	@include mpz;
	background-color: $core_colortest1;
	position: fixed;
	width: 100%;
	height: 100%;
}

#header {
	background-color: $core_colortest2;
	@include flpr;
	width: 100%;
	height: 100px;
}

#site_id {
	background-color: $core_colortest3;
	@include flpr;
	width: 50%;
	height: 100px;

	#site_logo, h1 {
		@include mpz;
		position: absolute;
		left: 0;
		width: 50%;
		height: 50%;
}
	#site_logo {
		top: 0;
		img {}
	}

	a {}
	h1 {
		bottom: 0;
	}
}



#site_top_menu {
	@include bordertb;
	@include frpr;

	ul {

	}
	li {
		@include flpr;
		display: block;
		list-style: none;
	}
	a {}
}

#site_search {}

#search_boxen {}

#search_button {

	img {}
	a {}
}

#site_main_menu {
	@include flpr;

	#main_menu_normal_entries {

		ul {}
		li {
			@include flpr;
		}
		a {}
	}

	#main_menu_hubs {}

	.menu_item {
		@include flpr;

		a {}
	}

	.hub_title {}

	.hub_excerpt {}

	.hub_image {}
}

#core_mainsite {
	@include flpr;
	min-width: 100%;
}

#core_slideshow {
	@include flpr;
	width: 50%;
  height: 200px;
  background-color: (100,100,150,0.6);

	.index_post {
		@include flpr;

		a {}
	}

	.index_post_title {}

	.index_post_excerpt {}

	.index_post_category {}

	.index_post_image {}

	#core_selected_hub_posts {}

	.index_post {
		@include flpr;

		a {}
	}

	.index_post_title {}

	.index_post_excerpt {}

	.index_post_category {}

	.index_post_image {}
}

#core_first_page_postbox {
	@include flpr;

	.index_post {
		background-color: rgba(255,100,150,0.4);
		@include flpr;
		width: 18%;
	  height: 200px;
	  margin: 1%;

		a {}
	}

	.index_post_title {}

	.index_post_excerpt {}

	.index_post_category {}

	.index_post_image {}
}

#sidebar {

	.widget {
		@include flpr;
	}

	.widget_title {}

	.widget_contents {}
}

#footer {
	@include flpr;
}

#footer_left {}

#footer_right {}
